


<div class="container justify-content-center mt-5 border-left border-right">
  <div class="d-flex justify-content-center pt-3 pb-2">
    <form [formGroup]="commentFormGroup" (ngSubmit)="create()">
      <div class="second py-2 px-2">
        <input type="text" name="text" formControlName="content" id="content" placeholder="+ Add a note"
               class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
  <div class="d-flex justify-content-center py-2" *ngFor="let comment of comments | paginate: {itemsPerPage: 2, currentPage: page}">
    <div class="second py-2 px-2">
      <span class="text1">{{comment.content}}</span><br>
      <span class="text1" *ngIf="comment.countReplyId !='0' && comment.countReplyId !== null">
        <a [routerLink]="['/comment/', comment.id]" >reply: {{comment.countReplyId}}</a>
      </span><br>
      <span class="text2" *ngIf="comment.updatedDate == null"> Create: {{comment.createdDate}}</span>
      <span class="text2" *ngIf="comment.updatedDate !== null">Update: {{comment.updatedDate}}</span>
      <div class="d-flex justify-content-between py-1 pt-2">
        <div><img src="https://i.imgur.com/AgAC1Is.jpg" width="18">
          <span class="text2">Tuấn Thảo / {{comment.userId}}</span></div>
        <div>
          <span class="text3">Like</span>
          <span class="thumbup"><i class="fa fa-thumbs-o-up"></i></span>
          <span class="text4">3</span>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="page = $event" [maxSize]="3"></pagination-controls>
</div>
